
<section class="tiles">

    <h2 style="text-align:right"><br><br>Oups, il semblerait que la page que vous cherchez n'existe pas ! </h2>

    <article class="style1">
        <span class="image"> <img src="assets/images/3points.png" alt="" /> </span>
        <a href="/">
            <h2>.4.</h2>
        </a>
    </article>
    <article class="style6">
        <span class="image"> <img src="assets/images/imgnotfound.svg" alt="" /> </span>
        <a href="/">
            <h2>.0.</h2>
        </a>
    </article>
    <article class="style2">
        <span class="image"> <img src="assets/images/3points.png" alt="" /> </span>
        <a href="/">
            <h2>.4.</h2>
        </a>
    </article>
</section>
